.loader {
    &--fullscreen {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__loading {
        border: 7px solid #DFE0DD;
        border-top: 7px solid $faded-red;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        -webkit-animation: loading 1600ms linear infinite;
        animation: loading 1600ms linear infinite;

    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        margin-top: 20px;
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(-360deg);
        }
    }
}