.ordered-items-row{
    margin-right: 60px;

    &__bottom{
        position: relative;
        display: flex;
        flex: 1;
    }

    &__titles-grid{
        margin-left: 170px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: 370px auto;
        font-size: 18px;
        font-weight: 600;
    }

    &__background{
        display: grid;
        grid-template-columns: 370px auto;
        width: calc(100% - 60px);
        height: 100px;
        padding: 0 30px 0 110px;
        margin-left: auto;
        border-radius: $border-radius-lg;
        box-shadow: $boxshadow;
    }

    &__profile{
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 120px;
        height: 120px;
        border-radius: 200px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__amounts{
        display: flex;
        align-items: center;

        &--flex{
            display: flex;
            align-items: center;
            margin-right: 30px;
        
            span{
                margin-right: 15px;
                font-weight: 400;
                font-size: 18px;
            }
    
            img{
                width: auto;
                height: 44px;
            }
        }
    }
}