$red: #CF0040;
$faded-red: #D6265C;
$yellow: #F5D93F;
$black: #010101;
$blue: #071F3D;
$white: #ffffff;
$easing: cubic-bezier(.21,.76,.4,.96);

$border-radius-sm: 6px;
$border-radius-md: 8px;
$border-radius-lg: 12px;