@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
.grid {
  width: 1300px;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

button {
  padding: 10px 16px;
  font-weight: 600;
  font-size: 16px;
  background-color: #010101;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 400ms;
  transition-timing-function: cubic-bezier(0.21, 0.76, 0.4, 0.96);
}

.button--red {
  color: #ffffff;
  background-color: #CF0040;
}
.button--yellow {
  color: #010101;
  background-color: #F5D93F;
}
.button--yellow:hover {
  color: #ffffff;
  background-color: #010101;
}
.button--white {
  color: #010101;
  background-color: #ffffff;
}
.button--white:hover {
  color: #ffffff;
  background-color: #010101;
}
.button--small {
  padding: 8px 14px;
  font-size: 14px;
}
.button--flex {
  width: 100%;
}

.input__wrapper {
  margin-bottom: 25px;
}
.input__wrapper label {
  display: block;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}
.input__wrapper input {
  display: block;
  border: none !important;
  max-width: 100%;
  padding: 18px 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  transition: border 300ms cubic-bezier(0.21, 0.76, 0.4, 0.96);
}
.input__wrapper input::placeholder {
  opacity: 0.5;
  font-size: 16px;
}

.bordered--sm {
  border-radius: 6px;
}
.bordered--md {
  border-radius: 8px;
}
.bordered--lg {
  border-radius: 12px;
}

.title {
  display: block;
  font-size: 38px;
  color: #010101;
}

.section-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.order-page .snack-order-overview {
  margin: 150px auto;
}
.order-page .overview-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}
@media (max-width: 1400px) {
  .order-page .overview-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .order-page .overview-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 650px) {
  .order-page .overview-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 440px) {
  .order-page .overview-grid {
    grid-template-columns: 1fr;
  }
}
.order-page .no-session {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px;
}
.order-page .no-session h2 {
  font-weight: 500;
  margin-bottom: 20px;
}
.order-page .no-session h3 {
  font-weight: 400;
}
.order-page .no-session span {
  font-weight: 600;
  color: #D6265C;
}

.order-finish-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.order-finish-page__centerer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  max-width: 90vw;
  margin: 60px 0;
}
.order-finish-page__finish-title {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 40px;
  text-align: center;
}
.order-finish-page__check-icon {
  width: 130px;
  height: auto;
  margin-bottom: 120px;
}
.order-finish-page__game-text {
  width: 550px;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.order-finish-page__game-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.order-finish-page__game-box {
  position: relative;
  width: 230px;
  height: 150px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 15px;
  margin: 0 20px 20px 20px;
}
.order-finish-page__game-preview-image {
  object-fit: cover;
}
.order-finish-page__game-preview-image, .order-finish-page__image-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.order-finish-page__image-overlay {
  background-color: #010101;
  opacity: 0.6;
}
.order-finish-page__game-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #ffffff;
}

.dashboard-page .ordered-items-overview {
  margin: 150px auto;
}

.session-page .select-users-overview {
  margin: 150px auto;
}
.session-page .select-users-overview .section-title {
  margin-bottom: 0;
}
.session-page .select-users-overview .select-users__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.session-page .select-users-overview .select-users__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

.header {
  width: 100vw;
  height: 100px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}
.header__centerer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 22px;
}

.checkout-cart {
  position: relative;
}
.checkout-cart--active .checkout-popup {
  transform: translate(-50%, 0);
  opacity: 1;
  pointer-events: all;
}
.checkout-cart__wrapper {
  cursor: pointer;
  padding: 15px;
}
.checkout-cart__icon {
  width: 32px;
  height: 32px;
}
.checkout-cart__icon svg * {
  stroke: #D6265C;
}
.checkout-cart__amount {
  background: #ffffff;
  padding: 13px;
  border-radius: 100px;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 15px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}

.checkout-popup {
  width: 270px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 20px);
  opacity: 0;
  pointer-events: none;
  border-radius: 12px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 20px 25px 25px 25px;
  transition: all 300ms cubic-bezier(0.21, 0.76, 0.4, 0.96);
}
.checkout-popup__title {
  font-size: 18px;
  margin-bottom: 20px;
}
.checkout-popup__seperation-line {
  width: 100%;
  height: 2px;
  background-color: #CF0040;
  margin: 30px 0px;
}
.checkout-popup__order-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.checkout-popup__order-row img {
  width: 70px;
  height: auto;
}
.checkout-popup__order-row__bun-image {
  width: 50px !important;
}
.checkout-popup__amount {
  font-size: 18px;
  font-weight: 400;
}
.checkout-popup__no-snacks {
  font-size: 14px;
  font-weight: 400;
}
.checkout-popup__button-wrapper {
  width: 100%;
  margin-top: 30px;
}

.snack-order-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}
.snack-order-box__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}
.snack-order-box__image img {
  width: 50%;
  height: auto;
}
.snack-order-box__order-controls {
  flex: 1;
  width: 100%;
  padding: 10px 20px 20px 20px;
  border-radius: 12px;
  background-color: #D6265C;
}
.snack-order-box__snack-title {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ffffff;
}

.order-amount-controller {
  display: flex;
  height: 32px;
  font-weight: 400;
}
.order-amount-controller__decrementer, .order-amount-controller__incrementer {
  cursor: pointer;
  background-color: #F5D93F;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  user-select: none;
}
.order-amount-controller__decrementer--disabled, .order-amount-controller__incrementer--disabled {
  cursor: unset;
  color: #ffffff;
  background-color: #939393;
}
.order-amount-controller--small .order-amount-controller__decrementer, .order-amount-controller--small .order-amount-controller__incrementer {
  width: 32px;
  height: 32px;
}
.order-amount-controller--small .order-amount-controller__amount {
  border: 1px solid #010101;
}
.order-amount-controller--wide .order-amount-controller__decrementer, .order-amount-controller--wide .order-amount-controller__incrementer {
  flex: 1;
}
.order-amount-controller__amount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 18px;
  border-radius: 6px;
  margin: 0 10px;
  background-color: #ffffff;
}

.ordered-items-row {
  margin-right: 60px;
  margin-bottom: 60px;
}
.ordered-items-row__bottom {
  position: relative;
  display: flex;
  flex: 1;
}
.ordered-items-row__titles-grid {
  margin-left: 170px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 400px auto;
  font-size: 18px;
  font-weight: 600;
}
.ordered-items-row__background {
  display: grid;
  grid-template-columns: 400px auto;
  width: calc(100% - 60px);
  height: 100px;
  padding: 0 30px 0 110px;
  margin-left: auto;
  border-radius: 12px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
}
.ordered-items-row__profile {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 120px;
  height: 120px;
  border-radius: 200px;
  overflow: hidden;
}
.ordered-items-row__profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ordered-items-row__amounts {
  display: flex;
  align-items: center;
}
.ordered-items-row__amounts--flex {
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.ordered-items-row__amounts--flex span {
  margin-right: 15px;
  font-weight: 400;
  font-size: 18px;
}
.ordered-items-row__amounts--flex img {
  width: auto;
  height: 44px;
}

.select-user-box {
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  min-height: 80px;
  display: flex;
  align-items: center;
  transition: background-color 300ms cubic-bezier(0.21, 0.76, 0.4, 0.96);
}
.select-user-box--selected {
  background-color: #D6265C;
}
.select-user-box--selected .select-user-box__checkbox {
  background-color: #ffffff;
}
.select-user-box--selected .select-user-box__checkbox svg {
  stroke: #CF0040;
}
.select-user-box--selected .select-user-box__name {
  color: #ffffff;
}
.select-user-box__profile {
  width: 50px;
  height: 50px;
  margin: 0 15px;
  overflow: hidden;
  border-radius: 100px;
}
.select-user-box__profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.select-user-box__checkbox {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #ffffff;
  border: 2px solid #D6265C;
  transition: all 300ms cubic-bezier(0.21, 0.76, 0.4, 0.96);
}
.select-user-box__checkbox svg {
  width: 50%;
  height: 50%;
  stroke: #010101;
}
.select-user-box__name {
  flex: 1;
  font-size: 18px;
  font-weight: 500;
  transition: color 300ms cubic-bezier(0.21, 0.76, 0.4, 0.96);
  user-select: none;
}

body {
  display: block !important;
  width: 100vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #010101;
  overflow-x: hidden !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
