.login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .snackify-title{
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 32px;
        font-weight: 700;    
        color: $faded-red;
    }


    .login-box{
        width: 450px;
        max-width: 90vw;
        background-color: $faded-red;
        border-radius: $border-radius-lg;
        padding: 30px 40px;
        color: white;

        .login{
            &__title{
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 5px;
            }

            &__subtitle{
                font-size: 18px;
                font-weight: 400;
                margin-bottom: 40px;   
            }
        
            &__forgot-password{
                font-size: 14px;
                font-weight: 300;
                margin-top: 10px;
                margin-bottom: 40px;
                cursor: pointer;
                text-align: right;
            }
        }
    }
}