.order-page{
    .order-title{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    .snack-order-overview{
        margin: 150px auto;
    }

    .overview-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        column-gap: 40px;
        row-gap: 40px;

        @media (max-width: 1400px){
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        @media (max-width: 900px){
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media (max-width: 650px){
            grid-template-columns: 1fr 1fr;
        }
    
        @media (max-width: 440px){
            grid-template-columns: 1fr;
        }
    }

    .no-session{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 60px;
        
        h2{
            font-weight: 500;
            margin-bottom: 20px;
        }

        h3{
            font-weight: 400;
        }

        span{
            font-weight: 600;
            color: $faded-red;
        }
    }
}